* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Lexend, serif;
    background-color: #110A1D;
    background-image: url(./assets/svg/light1.svg), url(./assets/svg/light.svg);
    background-size: auto;
    background-position: 0 0, 100%;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    padding-top: 16px;
    height: 100%;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    margin: 0 auto;
    max-width: 1640px;
    width: 100%;
    border: 4px solid #478BF9;
    border-radius: 64px;
    padding: 24px 48px;
    font-size: 16px;
    line-height: 20px;
}

.logo {
    max-width: 287px;
    width: 100%;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 8px;
}

.navigation__item {
    list-style-type: none;
}

.navigation__link,
.logo {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
}

.navigation__link:hover {
    text-decoration-line: underline;
    color: #478BF9;
    transition: 0.5s;
}

.header__buttons {
    display: flex;
    gap: 14px;
}

.button {
    padding: 14px;
    border: 2px solid #478BF9;
    border-radius: 24px;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    transition: background-color 0.5s;
}

.button:hover {
    background-color: #478BF9;
    transition: background-color 0.5s;
}

.lang {
    position: relative;
    padding-left: 24px;
}

.lang::before {
    content: url(./assets/svg/lang.svg);
    position: absolute;
    left: 0;
}

.main {
    padding: 8px 140px 0;
    display: flex;
}

.title__block {
    max-width: 669px;
    width: 100%;
    margin-top: 297px;
    margin-right: 42px;
}

.title {
    margin: 0;
    font-size: 92px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 95px;
    letter-spacing: 3px;
    margin-bottom: 24px;
}

.title span {
    color: #478BF9;
}

.title__text {
    opacity: 0.6;
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0;
}

.title__button {
    margin-top: 42px;
    padding: 20px 72px;
    border-radius: 48px;
    color: #FFFFFF;
    background-color: #478BF9;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

.title__button:hover {
    background-color: transparent;
}

.banner {
    position: relative;
    min-width: 334px;
    height: calc(100vh - 234px);
}

[class*="chips__images"] {
    display: inline-flex;
    flex-direction: column;
    row-gap: 24px;
    padding-bottom: 24px;
    overflow: hidden;
}

[class*="chips__images"] img {
    width: 100px;
}

.chips {
    position: absolute;
    display: flex;
    column-gap: 16px;
    overflow: hidden;
    max-height: calc(100vh - 234px);
}

.chips__row {
    height: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.chips__row:nth-child(1){
    opacity: 0.2;
}
.chips__row:nth-child(2){
    opacity: 0.6;
}
.chips__row:nth-child(3){
    opacity: 0.4;
}
.chips__images_1 {
    animation: 20s carouselUp infinite linear;
}

.chips__images_2 {
    animation: 20s carouselDown infinite linear;
}

.chips__images_3 {
    animation: 20s carouselUp infinite linear;
}


@keyframes carouselUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

@keyframes carouselDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.blog__block {
    max-width: 531px;
    width: 100%;
    margin-top: 135px;
    margin-left: 65px;
}

.blog__title {
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.blog__list {
    width: 100%;
    height: 595px;
    padding: 8px 40px 0 24px;
    border-radius: 100px;
    border: 3px solid #478BF9;
    background-color: rgba(255, 255, 255, 0.12);
}

.blog__item {
    list-style-type: none;
}

.blog__link {
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    padding: 16px 64px;
    background-color: #110A1D;
    border-radius: 196px;
    transition: background-color 0.5s;
}

.blog__link:hover {
    background-color: #478BF9;
    transition: background-color 0.5s;
}

.blog__text {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
}

.blog__date {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.6;

}

.simplebar-content-wrapper {
    border-radius: 100px;

}

.simplebar-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.simplebar-track.simplebar-vertical {
    top: 16%;
    right: 16px;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 4px;
    width: 8px;
    height: 70%;
}

.simplebar-scrollbar::before {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background-color: #478BF9;
    width: 8px;
    border-radius: 10px;
}

.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}

.footer {
    display: flex;
    padding: 40px 140px 24px;
    height: 130px;
    width: 100%;
border: 4px solid #478BF9;
border-top-right-radius: 64px;
border-top-left-radius: 64px;
border-bottom: none;
}
.footer__nav{
    max-width: 600px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}
.footer__nav__list {
    display: flex;
    gap:40px;
    margin: 0;
    padding: 0;
}

