* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Lexend,serif;
    background-color:  #110A1D;
    background-image: url(./assets/images/light1.png),url(./assets/images/light.png);
    background-size:auto,contain;
    background-position: 0 0,100%;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    padding-top: 16px;
height: 100%;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
   margin: 0 auto;
   max-width: 1640px;
   width: 100%;
   border: 4px solid #478BF9;
   border-radius: 64px;
   padding: 24px 48px;
   font-size: 16px;
   line-height: 20px;
}
.logo{
    width: 287px;
}
.navigation__list{
    display: flex;
    justify-content: space-between;
    gap:32px;
    padding: 8px;
}
.navigation__item{
    list-style-type: none;
}
.navigation__link,.logo{
    text-decoration: none;
    color:#FFFFFF; 
    transition: 0.5s;  
}
.navigation__link:hover{
    text-decoration-line: underline;
    color: #478BF9;
    transition: 0.5s;
}
.header__buttons{
display: flex;
gap:14px;
}
.button{
    padding: 14px;
    border:2px solid #478BF9;
    border-radius: 24px;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color:#FFFFFF;
    transition: background-color 0.5s;
}
.button:hover{
    background-color: #478BF9;
    transition: background-color 0.5s;
}
.lang{
    position: relative;
    padding-left: 24px;
}
.lang::before{
    content: url(./assets/svg/lang.svg);
    position: absolute;
    left:0;
}
.main{
    height: 100%;
    padding: 8px 140px;
    display: flex;
}
.title__block{
    max-width: 669px;
    width: 100%;
margin-top: 296px;
margin-right: 42px;
}
.title{
    margin: 0;
    font-size: 92px;
    color:#FFFFFF;
    font-weight: 500;
    line-height: 95px;
    letter-spacing: 3px;
    margin-bottom: 24px;
}
.title span{
    color: #478BF9;
}

.title__text{
opacity: 0.6;
font-size: 32px;
font-weight: 500;
color:#FFFFFF;
margin: 0;
}
.title__button{
    margin-top: 42px;
    padding: 20px 72px;
    border-radius: 48px;
    color: #FFFFFF;
    background-color: #478BF9;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}
.title__button:hover{
    background-color: transparent;
}
.banner{
    max-width: 334px;
    width: 100%;
    height: 100%;
    background-color: aqua;
}
.blog{
    max-width:531px;
    width: 100%;
    height: 595px;
    border-radius: 100px;
    border:3px solid #478BF9;
}
.footer{
    height: 100px;
    
}